.main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding: 6rem;
  }

.content {
    font-size: 1.5em;
    color: var(--color-secondary);
}